body{
    margin:0;
    padding:0;

    height:100vh;

    font-family:Arial;

    
    background-image: url('https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1920&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    display:flex;
    justify-content:center;
    align-items:center;
}

.chat-container{
    width:400px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

#chat-box{
    height:300px;
    border:1px solid gray;
    overflow-y:auto;
    padding:10px;
    margin-bottom:10px;
}